node_modules
.nyc_output
package-lock.json
coverage
coveralls
.env
jspm_packages

# Serverless directories
.serverless

# Ignore the Google Cloud API keys 
google-cloud-creds.json

config

.env.dev
.env.local
.env.prod
.env.production
